<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i
              class="fa fa-remove"></i>Emails não conferem</span> </div>


        <div class="col-sm-6 col-xs-12">
          <div class="form-group" [class.has-success]="orderForm.get('name').valid"
            [class.has-error]="orderForm.get('name').invalid && orderForm.get('name').touched">
            <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Nome" autocomplete="off">
          </div>


        </div>

        <div class="col-sm-2 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i>Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Email" autocomplete="off"
              required>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i>Confirmar E-mail</label>
            <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirmar E-mail">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
      </div>
      <mt-procurar-endereco></mt-procurar-endereco>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row" style="margin-top: 2%">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-order-itens [itens]="cartItens()" (aumentarQuant)="aumentarQuantidade($event)"
          (diminuirQuant)="diminuirQuantidade($event)" (remover)="removerItem($event)">
        </mt-order-itens>
        <!-- /.row -->
        <!-- /.col -->
      </div>
      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radius required [options]="paymentsOptions" formControlName="paymentOption"></mt-radius>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [delivery]="precoFrete" [itensValue]="retornarTotal()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" (click)="checkOrder(orderForm.value)"
          [disabled]="orderForm.invalid || cartItens().length < 1"><i class="fa fa-credit-card"></i> Concluir
          Pedido
        </button>
      </div>
    </div>

  </section>
</section>
